<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title th:text="${title}+'-Java1234下载'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css"></link>
<link rel="stylesheet" href="/static/css/css.css"></link>
</head>
<body>
<div class="w960" th:include="common/head::#h" style="padding-bottom: 10px;overflow:visible;"></div>
<div class="w960"  th:include="page/vipPage::#f"></div>
<div class="w960"  th:include="common/foot::#h" style="padding-top: 40px"></div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/common.js"></script>
<script th:inline="javascript">
	/*<![CDATA[*/  
	layui.use(['element','laypage','form'], function(){
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
		  var $ = layui.jquery; // 使用jquery
		  var laypage = layui.laypage;
		  var tMenu=[[${session.tMenu}]];
		  $("#"+tMenu).css("color","red");
	});
	
	function submitPay(){
		if([[${session.currentUser}]]==null){
			layer.msg('请您先登录！');
			return;
		}
		
		var way=$('input:radio[name="way"]:checked').val();
		if(way=='支付宝'){
			window.location.href="/alipay/pay";
		}else if(way=='微信'){
			window.location.href="/weixinpay/pay";
		}
	}

	/*]]>*/
	
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?038436bd5c492acee545c83c4b0d6f6b";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>