<meta charset="UTF-8"/>
<div id="f">
	<div>
    	<div class="data_list">
    		<div class="data_list_title">
    			<i class="layui-icon layui-icon-rate-solid"></i>
				<span class="head">VIP购买</span>
    		</div>
	    	<div style="padding: 10px;line-height: 40px">
	    		购买Java1234至尊VIP资格，即可获取该站VIP会员资格，永久免费下载所有资源；<br/>
	    		购买Java1234至尊VIP资格地址：<a href="http://www.java1234.com/vipzy.html" target="_blank"><font color="red">http://www.java1234.com/vipzy.html</font></a><br/>
	    		至尊VIP会员直接联系锋哥，提供本站用户名，直接升级本站VIP会员；<br/>
	    		==========================================================<br/>
	    		在线支付开通VIP：（目前Java1234至尊vip价格：760元）（开通后，请加锋哥QQ：1002222344 获取VIP教程，以及进VIP群，and其他福利）<br/>
	    		选择支付方式：&nbsp;&nbsp;
			      <input type="radio" name="way" value="支付宝" title="支付宝" checked="checked"/>&nbsp;支付宝&nbsp;
			      &nbsp;&nbsp;<input type="radio" name="way" value="微信" title="微信"/>&nbsp;微信&nbsp;&nbsp;&nbsp;&nbsp;(如果需要花呗支付，请联系锋哥)<br/>
			      <button class="layui-btn" onclick="submitPay()">支付提交（屌炸天从此开始）</button>
				  
	    	</div>
    	</div>
    	
    	
    </div>
</div>
