<meta charset="UTF-8"/>
<div id="f">
	<div>
    	<div class="data_list">
    		<div class="data_list_title">
    			<i class="layui-icon layui-icon-rate-solid"></i>
				<span class="head">微信扫码支付充值Java1234 VIP</span>
    		</div>
	    	<div style="padding: 10px;line-height: 40px">
				<table>
					<tr>
						<td>商品名称：</td>
						<td>
							Java1234至尊vip
						</td>
					</tr>
					<tr>
						<td>商品描述：</td>
						<td>
							Java1234至尊vip 你值得拥有！
						</td>
					</tr>
					<tr>
						<td>交易金额：</td>
						<td>
							760(元)
						</td>
					</tr>
				</table>
		        <img th:src="'/weixinpay/loadPayImage?orderNo='+${orderNo}"></img>
	    	</div>
    	</div>
    	
    	
    </div>
</div>
